@charset"utf-8";

.mainSlider{
    height:721px;
    background:#1c1c1c;
    text-align:right; 
}
.mainSlider .inner{position:relative; z-index:10;}
.mainImg{margin-top:260px;}

.sliderTxt{    
    position:absolute;
    right:30px;
    bottom:64px;
    color:#fff;
}
.sliderTxt h2{
    font-size:50px;
}
.pointTxt{
    font-size:50px;
    color:#28aee1;
    padding-right:10px;
    position: relative;
}
.sliderTxt p{
    font-size:15px;
    padding-top:12px;
    color:#fff;
}
.sliderTxt .mainMTxt{
    font-size:25px;
    font-weight:bold;
}

.slideInBtn{
    border:3px solid #28aee1;
    border-radius:30px;
    padding-bottom:9px;
    width:220px;
    text-align: center;
    display:inline-block;
    margin-top:30px;
    line-height:
}
.slideInBtn a{display:block;}

.pointImg{
    position: absolute;
    left:-50px;
    top:-30px;
}

.sliderInBtn:hover a{
    background:#fff;
    color:#28aee1;
}

.mainMTxt .sliderTxt p {
    color:#fff;
}

.sliderTxt {
    position: absolute;
    right: 30px;
    bottom: 64px;
    color: #fff;
}

.sliderTxt a{
    color:#28aee1;
    font-weight:bold;
}

.pointImg a{}
.prevBtn{}
.nextBTn{}

/*mainCon01*/
.mainCon01{
    padding:180px 0;
    position: relative;
}

.mainCon01 img{
    padding-left:10px;
    padding-bottom:2px;
}

.con01Menu1 .listBtn,.con01Menu4 .listBtn,.con01Menu2 .listBtn,.con01Menu3 .listBtn{display:none;}
.con01Menu1:hover .listBtn{
    display:block;
}
.con01Menu4:hover .listBtn{display:block;}
.con01Menu2:hover .listBtn{
    display:block;
    padding:15px;
}
.con01Menu3:hover .listBtn{
    display:block;
    padding:15px;
}
.con01Menu4:hover .listBtn{display:block;}



.con01Info{
    display: inline;
}


.con01List>li{
    width:285px;
    height:328px;
    margin-right:20px;
    float:left;
    text-align:center;
    background:url(../images/main/con01_1img.png) no-repeat center center;
    background-size:cover;
}
.con01List>li:last-child{
    margin-right:0;
}

.con01List .con01Menu2{background-image:url(../images/main/con01_2-28.png);}
.con01List .con01Menu3{background-image:url(../images/main/con01_3img.png);}
.con01List .con01Menu4{
    background-image:url(../images/main/con01_4img.png);
    margin-right:0;
}

.con01List h3{
    margin-top:50px;
    margin-bottom: 30px;
    color:#fff;
}

.listBtn li{
    width:120px;
    margin:0 auto;
    background:#fff;
    margin-top:10px;
    border-radius:30px;
    line-height:40px;
    font-size:12px;
}

.con01Info h3{
    float:left;
}


.con01Tit{
    margin-bottom:50px;
}

.con01Tit a{
    float:right;
    font-weight:bold;
}

.con01Menu li:hover .listBtn li{
    display:block;
    
}

.con01Tit h2::after{
    width:7px;
    height:2px;
    background:#000;
}

.conTit h3{float:left;}

.con01Tit .moreBtn1{margin-bottom:20px;}

.listBtn:first-child{
    margin-right:0;
}

.mainCon02::before{
    display:inline-block;
    width:690px;
    height:594px;
    background:#002a5a;
}

.moreBtn1{
    float:right;
}


.moreBtn{
    font-size:11px;
    font-weight:bold;
}


.moreBtn img{}
/*mainCon02*/


.mainCon02 .moreBtn2{
    font-weight:bold;
    padding-top:7px;
}

.mainCon02 notice{
    width:1358px;
    height:374px;
    background:#fff;
    
}

.con02Menu{
    width:1200px;
    margin:0 0 0 auto;
    background:#fff;
    padding:70px 30px;
    box-sizing: border-box;
    margin-top:200px;
}
.con02Menu h3{
    font-weight:bold;
    float:left;
    margin-right:45px;
}


.con02Menu::after{
    content:"";
    position:absolute;
    width:50%;
    height:540px;
    top:100px;
    left:0;
    background:#002a5a;
    z-index: -1
    
    
}

.mainCon02{
    height:650px;
    position:relative;
}

.mainCon02 notice{}

.con02Menu notice{}

.mainCon02 .moreBtn2{
    float:left;
}
.mainCon02 .moreBtn2 a{display:block;}

.notice li{}
.notice a{
    padding-left:278px;
}

/*mainCon02*/

.mainCon03{
    margin-top:140px;}

.con03 li{
    float:left;
    margin-right:12px;
}
.con03 li:last-child{margin-right:0;}

.con03 .con03Txt{
    position:relative;}

.Con03first{
    position:absolute;
    bottom:80px;
    left:25px;
}

.Con03last{
    position:absolute;
    bottom:80px;
    left:25px;
}

.mainCon03 .con03Txt h3{
    color:#fff;
}
.mainCon03 .con03Txt p{
    font-size:12px;
    color:#56aff5;
    padding-top:5px;
}


/*mainCon03*/
   